.presentacion{
    max-width: 65%;
    margin: 0 auto;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(195, 186, 174);
    padding: 2rem;
    border-radius: 5px;
    gap: 3rem;
}


.contador{
    border-color: white;
    border-width: 3px;
}

.boton{
    border-color: white;
    border-width: 3px;
}

.boton_input{
    margin-top: 1rem;
    
}
