.fondo{
  background-color: black;
}

h3{
  font-family: 'Anton', sans-serif;
  font-size: 4rem;
  }

  /* home*/

  .portada{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 2rem;
  }

  .iconos{
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   margin: 4rem auto;
  }

  .icono p{
    padding-top: 1rem;
  }
  .parrafo{
    padding-top: 2rem;
    font-size: 1rem;
    font-weight: 500;
  }