.barra{
    background-color:rgb(174, 157, 139);
  }
  
.navegacion{
  color: white;;
  padding:0 1rem;
  text-decoration: none;
  }
  
.posicion{
  margin: auto;
  }

.posicion li{
  margin: auto 3rem;
  }
.posicion li a{
  font-size: 20px;
  font-weight: 500;
}

.logo{
  border-radius: 10%;
}


/* cardwigted  */

.contador{
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.carrito{
  display: flex;
  position: fixed;
  right: .5rem;
  background-color:rgb(174, 157, 139);;
  padding:.5rem;
  border-radius: 10px;
}

/* error */
.error{
  background-color: whitesmoke;
}

